*{
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-color: dimgray;
}
/* game styling */
#pong{
    border: 2px solid #FFF;
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
}