*{
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}
/* game styling */

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#gameBoard{
    border: 2px solid black;
}
#score{
    font-family: "consolas", monospace;
    font-size: 3rem;
}
#resetBtn{
    font-family: "permanent marker", cursive;
    font-size: 1.25rem;
    cursor: pointer;
}
#resetBtn:hover{
    border: 3px solid black;
    border-radius: 5px;
}